h2, p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

div.page-content {
    display: flex;
    flex-direction: column;
}

div.main-content {
    flex: 1;
    display: flex;
}

div.column {
    flex-direction: column;
    width: 100%;
}

div.page-content > div.center {
    margin-bottom: 30px;
}
