html, body, div.page-content {
    height: 100%;
}

body {
    margin: 0px;
}

h2, p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

div.center {
    display: flex;
    justify-content: center;
}

button {
    padding: 25px 0px;
    font-size: 24px;
    border-radius: 16px;
    border: none;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 40%);
    width: 100%;
    max-width: 300px;
    font-family: 'Roboto', sans-serif;
}

div.page-content {
    display: flex;
    flex-direction: column;
}

div.main-content {
    flex: 1;
    display: flex;
}

div.column {
    flex-direction: column;
    width: 100%;
}

div.page-content > div.center {
    margin-bottom: 30px;
}